.page {
  width: 100vw;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  overflow-y: hidden;
}

.loginForm {
  width: 382px;
  height: auto;
  background-color: var(--background-dark);
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  border-radius: 6px;
  padding: 24px;
}

.loginForm > h6 {
  font-size: 32px;
  font-weight: 600;
  margin: 0 auto;
}

.textError {
  color: red;
}

.loginForm > button {
  height: 50px;
}
