.btnContainer {
  display: flex;
  justify-content: space-between;
  button {
    height: 40px;
    width: 40%;
    min-width: 100px;
  }
}

.deleteBtn {
  background-color: var(--background-btn-second);
}
