.btnContainer {
  display: flex;
  justify-content: center;
  column-gap: 10px;
  button {
    position: relative;
    display: inline-block;
    height: 40px;
    width: auto;
    min-width: 50px;
  }
}

.deleteBtn {
  background-color: var(--background-btn-second);
}
.deleteBtn:hover {
  background-color: rgb(153, 27, 27);
}
