.delModalText {
  text-align: center;
}

.delItemName {
  font-weight: 700;
  color: var(--main-color);
}

.delBtns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  column-gap: 15px;
  button {
    width: 150px;
  }
}
