.container {
  position: fixed;
  display: flex;
  z-index: 9998;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
}

.wrapper {
  margin: auto;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: var(--background-dark);
  border-radius: 10px;
  //   padding: 20px;
  .closeBtn {
    transform: scaleX(-1);
    img {
      padding: 2px;
    }
  }
  img:hover {
    cursor: pointer;
  }
}

.content {
  padding: 24px;
  margin-top: -30px;
}
