:root {
  --background: rgb(35, 41, 50);
  --background-dark: rgb(32, 39, 49);
  --background-light: rgb(39, 46, 56);
  --background-btn-second: rgb(69, 70, 79);

  --text-color: #c5bfbf;
  --text-white-color: #fff;
  --main-color: rgb(67, 120, 234);
  --secondary-btn-color: rgb(56, 101, 198);
  --secondary-color: rgb(255, 255, 255);

  --dark-color: rgb(32, 39, 49);
  --mid-dark: rgb(39, 46, 56);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  color: var(--text-color);
  background: var(--background-light);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-geist-sans);
}

main {
  margin-top: 100px;
  min-height: 500px;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

header {
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 100vw;
  height: 70px;
  top: 0;
  z-index: 10;
  align-items: center;
  backdrop-filter: blur(27px);
  background-color: rgb(0, 0, 0, 0.1);
}

button {
  height: 40px;
  font-weight: 400;
  background-color: var(--main-color);
  color: var(--text-white-color);
  border: none;
  border-radius: 3px;
  transition-duration: 0.2s;
}

button:hover {
  cursor: pointer;
  background-color: var(--secondary-btn-color);
}

.addBtn {
  width: 130px;
  display: flex;
  justify-content: right;
  align-items: center;
  column-gap: 5px;
  border-radius: 75px;
  span {
    font-size: 29px;
    font-weight: 100;
    width: 36px;
    height: 100%;
    color: #fff;
    background-color: var(--main-color);
    border-radius: 0 6px 6px 0;
    margin-left: 10px;
    border-radius: 75px;
  }
  div {
    margin-right: 35%;
  }
}

.deleteBtn {
  background-color: var(--background-btn-second);
}

.deleteBtn:hover {
  background-color: rgb(153, 27, 27);
}

.loginBtn {
  width: 130px;
  padding: 0 35px;
  border-radius: 75px;
  background-color: inherit;
  border: 2px solid var(--text-color);
}

.loginBtn:hover {
  border: 2px solid var(--secondary-btn-color);
}

.tableBtnContainer {
  display: flex;
  justify-content: center;
  column-gap: 10px;
  button {
    position: relative;
    display: inline-block;
    height: 40px;
    aspect-ratio: 1/1;
  }
}

.formInput {
  font-size: large;
  color: var(--text-color);
  background-color: var(--background-light);
  height: 50px;
  border: 0px;
  outline: none;
  border-radius: 6px;
  padding: 10px;
}

.formInput:focus {
  border: 1px solid var(--main-color);
}

.validation-error {
  color: red;
}

.loader {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid var(--secondary-color);
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  z-index: 1000;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

a {
  position: relative;
  display: inline-flex;
  &::after {
    content: "";
    width: 0;
    height: 1.5px;
    position: absolute;
    top: 100%;
    left: 50%;
    translate: -50%;
    background-color: currentColor;
    transition-duration: 0.4s;
  }
  &:hover::after {
    width: 100%;
  }
}
