.page {
  width: 100vw;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.loginForm {
  width: 382px;
  height: 388px;
  background-color: var(--background-dark);
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  border-radius: 6px;
  padding: 24px;
}

.loginForm > legend {
  font-size: 32px;
  font-weight: 600;
  margin: 0 auto;
}

.loginForm > label {
  font-weight: 400;
}

.loginForm > button {
  height: 50px;
  margin-top: 30px;
}
