.container {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cardContainer {
  width: 400px;
  border: var(--border);
  background-color: var(--background-dark);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  padding: 10px;
  margin: 10px;
}

.deleteBtn {
  height: 40px;
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
}
