.header {
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 10;
  backdrop-filter: blur(27px);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 70px;
  background-color: rgb(0, 0, 0, 0.1);
  column-gap: 230px;
}

.navbar {
  display: flex;
  flex-direction: row;
  column-gap: 50px;
  a {
    line-height: 2;
  }
}

.logo {
  font-size: 25px;
  display: flex;
  column-gap: 10px;
  img {
    height: 55px;
    margin-top: 4px;
  }
  &:hover::after {
    width: 0;
  }
}
