.header {
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 10;
  backdrop-filter: blur(27px);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 70px;
  background-color: rgb(0, 0, 0, 0.1);
  column-gap: 230px;
}

.navbar {
  display: flex;
  flex-direction: row;
  column-gap: 50px;
  a {
    line-height: 2;
  }
}

.loginBtn {
  padding: 0 35px;
  border-radius: 75px;
  background-color: inherit;
  border: 2px solid var(--text-color);
}

.loginBtn:hover {
  border: 2px solid var(--secondary-btn-color);
}
