.container {
  min-height: 70px;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
}

.logo {
  display: flex;
  flex-direction: row;
  font-size: 50px;
  span {
    color: var(--main-color);
  }
  img {
    margin-top: -35px;
    margin-left: -70px;
  }
}
