.closeBtn {
  position: absolute;
  top: 0.2;
  right: 0;
}

.closeBtn:hover {
  cursor: pointer;
}

.container {
  position: absolute;
  width: 250px;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: var(--background-dark);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px;
  .user {
    width: 210px;
    height: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    column-gap: 15px;
    padding: 5px 9px;
  }
}

.container.opened {
  animation: open 0.5s ease-in-out;
}

.container.closed {
  animation: close 0.5s ease-in-out;
}

.listWrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 10px;
  li {
    list-style-type: none;
  }
}

.element {
  color: var(--text-white-color);
  width: 210px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  column-gap: 15px;
  padding: 5px 15px;
}

.active {
  background-color: var(--main-color);
  border-radius: 6px;
}

@keyframes open {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes close {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
