.container {
  height: 270px;
  background-image: linear-gradient(
    150deg,
    var(--dark-color) 60.2%,
    var(--mid-dark) 60.28%,
    var(--mid-dark) 60.7%,
    var(--dark-color) 60.78%,
    var(--dark-color) 61.4%,
    var(--mid-dark) 61.48%,
    var(--mid-dark) 62.6%,
    var(--dark-color) 62.68%,
    var(--dark-color) 63.4%,
    var(--mid-dark) 63.48%,
    var(--mid-dark) 64.6%,
    var(--dark-color) 64.68%,
    var(--dark-color) 65.4%,
    var(--mid-dark) 65.48%,
    var(--mid-dark) 67.4%,
    var(--dark-color) 67.48%,
    var(--dark-color) 68.4%,
    var(--mid-dark) 68.48%,
    var(--mid-dark) 71.4%,
    var(--dark-color) 71.48%,
    var(--dark-color) 72.4%,
    var(--mid-dark) 72.48%,
    var(--mid-dark) 76.4%,
    var(--dark-color) 76.48%,
    var(--dark-color) 77.4%,
    var(--mid-dark) 77.48%,
    var(--mid-dark) 81.4%,
    var(--dark-color) 81.48%,
    var(--dark-color) 82.4%,
    var(--mid-dark) 82.48%,
    var(--mid-dark) 87.4%,
    var(--dark-color) 87.48%
  );
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-y: hidden;
  padding: 40px 30px;
  column-gap: 50px;
  h6 {
    font-size: 18px;
    margin-bottom: 15px;
  }
  & > div {
    flex-grow: 1;
  }
}

.logo {
  margin-top: -130px;
  a::after {
    height: 0;
  }
}

.container ul {
  list-style-type: none;
  line-height: 2;
  li {
    height: 32px;
  }
}

.payment {
  display: flex;
  gap: 10px;
  &:hover {
    cursor: pointer;
  }
}

.contacts img {
  vertical-align: middle;
  margin-right: 7px;
}
