.searchContainer {
  width: 395px;
  height: 40px;
  background-color: var(--background-dark);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 150px;
  svg > path {
    fill: var(--main-color);
  }
}

.search {
  background-color: var(--background-dark);
  color: var(--main-color);
  border: none;
  margin: auto 0;
  padding: 10px;
  width: 355px;
  height: 32px;
}

.search:focus {
  outline: none;
}

.never {
  color: red;
}
