.page {
  width: 100%;
}

.container {
  min-height: 300px;
  display: grid;
  grid-template-rows: repeat(auto-fill, 60px);
  grid-template-columns: 1fr;
  margin: 70px 200px;
  margin-bottom: 150px;
  > *:nth-child(odd) {
    background-color: var(--background-dark);
  }
  > div {
    display: grid;
    grid-auto-flow: column;
    padding: 10px;
  }
}

.navTextContainer {
  font-weight: 800;
  div {
    text-align: center;
    align-self: center;
  }
}

@media (max-width: 1300px) {
  .container {
    margin: 30px 50px;
  }
}

@media (max-width: 800px) {
  .container {
    margin: 30px 0px;
  }
}
