.text {
  align-self: center;
}

.clientName {
  font-weight: 700;
  color: var(--main-color);
}

.btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  button {
    width: 150px;
  }
}
