.container {
  position: fixed;
  display: flex;
  z-index: 9998;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
}

.wrapper {
  margin: auto;
  width: 500px;
  height: auto;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  background-color: var(--background-dark);
  border-radius: 10px;
  padding: 20px;
}

.text {
  align-self: center;
}

.clientName {
  font-weight: 700;
  color: var(--main-color);
}

.btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  button {
    width: 150px;
  }
  .deleteBtn {
    background-color: var(--background-btn-second);
  }
}
