.exitBtn {
  width: 110px;
  position: absolute;
  top: 19px;
  right: 15px;
  display: flex;
  justify-content: right;
  align-items: center;
  column-gap: 5px;
  span {
    width: 36px;
    height: 100%;
    background-color: var(--main-color);
    border-radius: 0 6px 6px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
  }
}
