.wrapper {
  position: relative;
}

.exitBtn {
  width: 110px;
  position: absolute;
  top: -53px;
  right: 15px;
  display: flex;
  justify-content: right;
  align-items: center;
  column-gap: 5px;
  span {
    width: 36px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  color: var(--text-white-color);
  opacity: 0.5;
  &:hover {
    cursor: pointer;
    opacity: 1;
  }
}
